@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

:root {
  --clr-pale-blue: hsl(243, 100%, 93%);
  --clr-grayish-blue: hsl(229, 7%, 55%);
  --clr-dark-blue: hsl(228, 56%, 26%);
  --clr-very-dark-blue: hsl(229, 57%, 11%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  background-image: url(images/bg-mobile.png);
  background-color: var(--clr-very-dark-blue);
  background-repeat: no-repeat;
  background-size: auto;
}

img {
  max-width: 100%;
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.head {
  min-width: 350px;
  padding: 40px;
  background-color: var(--clr-dark-blue);
  border-radius: 0.75rem 5rem 0.75rem 0.75rem;
}

.logo {
  margin-bottom: 2rem;
}

.files {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.img-container {
  background-color: var(--clr-very-dark-blue);
  width: 50px;
  height: 50px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.usage {
  position: relative;
  width: 350px;
  padding: 2rem;
  background-color: var(--clr-dark-blue);
  border-radius: 0.75rem;
  color: var(--clr-pale-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.usage h1 {
  font-weight: 400;
  font-size: 0.85rem;
  margin-bottom: 1rem;
}

.usage h1 span {
  font-weight: 700;
}
.progress {
  position: relative;
  width: 260px;
  height: 20px;
  background-color: var(--clr-very-dark-blue);
  border-radius: 10px;
  margin-bottom: 0.5rem;
}
.progress::before {
  content: "";
  position: absolute;
  width: 81%;
  background: rgb(255, 163, 153);
  background: linear-gradient(
    90deg,
    rgba(255, 163, 153, 1) 0%,
    rgba(255, 77, 151, 1) 100%
  );
  border-radius: 10px;
  top: 0.2rem;
  left: 0.2rem;
  bottom: 0.2rem;
}

.progress::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--clr-pale-blue);
  border-radius: 50%;
  top: 0.325rem;
  right: 48px;
}

.usage-min-max {
  width: 260px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  color: var(--clr-pale-blue);
  margin-bottom: 2rem;
}

.usage-left {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem 2rem;
  background-color: var(--clr-pale-blue);
  text-transform: uppercase;
  border-radius: 0.75rem;
  bottom: -39.5px;
}

.usage-left h2 {
  font-size: 2.5rem;
  color: var(--clr-very-dark-blue);
}
.usage-left p {
  color: var(--clr-grayish-blue);
  font-weight: 700;
}

@media (min-width: 375px) {
  body {
    background-size: cover;
  }
}

@media (min-width: 989px) {
  body {
    background-size: cover;
    background-position: top 50vh left;
    background-image: url(images/bg-desktop.png);
  }

  .wrapper {
    flex-direction: row;
    align-items: flex-end;
    gap: 2rem;
    width: 100%;
    max-width: 920px;
  }

  .head {
    width: 40%;
  }

  .usage {
    width: 60%;
    align-items: flex-start;
    padding: 2.5rem;
    font-size: 1.2rem;
  }

  .usage h1 {
    font-size: 1.2rem;
  }

  .progress,
  .usage-min-max {
    width: 100%;
  }

  .progress::after {
    right: 85px;
  }

  .usage-min-max {
    margin: 0;
  }

  .usage-left {
    bottom: auto;
    top: -50px;
    right: 2.5rem;
  }

  .usage-left {
    border-end-end-radius: 0;
  }

  .usage-left::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-right: 10px solid var(--clr-pale-blue);
    border-top: 10px solid var(--clr-pale-blue);
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
    right: 0;
    bottom: -20px;
  }
}
